<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark" data-new-gr-c-s-check-loaded="14.1067.0" data-gr-ext-installed="">
   

    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
            <h2 class="float-md-middle mb-0">ABOUT</h2>
            <h3 class="float-md-middle mb-0">The Best Vocalist</h3>
        </div>
      </header>
<div class="photogallery">
    <div class="spacePhotos">
        <img src="./images/photogallery1.jpg" alt="HH1" id="HHpicture">
    </div>
    <div class="spacePhotos">
        <img src="./images/photogallery2.jpg" alt="HH1" id="HHpicture">
    </div>
    <div class="spacePhotos">
        <img src="./images/photogallery3.jpg" alt="HH1" id="HHpicture">
    </div>
</div>


      <main class="px-3">
        
        <h1>Hugh Harris</h1>
        <p class="lead"> This is the About page of Hugh Harris</p>
      </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</html>